 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 
 body {
     font-family: 'Times New Roman', Times, serif;
     background-color: aqua;
     text-align: center;
     align-items: center;
     display: flex;
     justify-content: center;
     min-height: 100vh;
 }
 
 .container {
     border-radius: 60px;
     padding: 100px;
     background-color: lightblue;
     font-size: 20px;
     font-family: 'Times New Roman', Times, serif;
 }
 
 .container img {
     border: 1px solid white;
     border-radius: 75px;
     width: 150px;
     height: 150px;
 }
 
 .btn {
     margin-top: 20px;
     border: 1px white solid;
     border-radius: 50px;
     padding: 20px;
     background-color: aqua;
 }